@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
:root {
    --very-dark-blue: hsl(226, 43%, 10%);
    --dark-blue: hsl(235, 46%, 20%);
    --desaturated-blue: hsl(235, 45%, 61%);
    --pale-blue: hsl(236, 100%, 87%);
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: var(--very-dark-blue);
    font-family: 'Rubik', sans-serif;
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .mainCard {
    width: 200px;
    height: 405px;
    border-radius: 10px;
    background-color: var(--dark-blue);
    margin-right: 25px;
}

main .mainCard .top {
    width: 100%;
    height: 70%;
    border-radius: 10px;
    background-color: var(--desaturated-blue);
    display: flex;
    flex-direction: column;
}

main .mainCard .top .container {
    display: flex;
    flex-direction: column;
    width: 180px;
    margin-left: 25px;
    margin-top: 25px;
}

main .mainCard .button-container {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-left: 25px;
}

main .mainCard .button-container .button {
    color: var(--pale-blue);
    font-weight: 300;
    font-size: 14px;
    background: none;
    border: none;
}

main .mainCard .button-container .button:focus {
    color: white;
}

main .mainCard img {
    width: 50px;
    height: auto;
    border: 2px white solid;
    border-radius: 50%;
}

main .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 25px;
    row-gap: 25px;
}

main .container .card {
    width: 200px;
    height: 190px;
    border-radius: 10px;
    background-color: var(--dark-blue);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}